@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: Inter;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*MY STYLES*/

header{
  display: flex;
  justify-content: center;
}

.header-content{
  width: 90%;
  height: 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a{
  text-decoration: none;
  color: black;
  font-family: Inter;
  font-weight: 500;
  font-size: 1.3vw;
}

nav{
  display: flex;
  width: 28vw;
  justify-content: space-between;
}

.header-btn{
  border: none;
  background-color: #0099FF;
  width: 200px;
  height: 54px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-a{
  color: white;
  font-size: 1vw;
}

/*MAIN*/

section{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.main-content{
  width: 100%;
  height: auto;
}

.first-block{
  display: flex; 
  justify-content: center;
  margin-top: 5vw;
}

.f-b-text{
  display: flex;
  flex-direction: column;
  margin-top: 4vw;
}

.btns{
  display: flex;
}

.h1{
  font-weight: 700;
  font-size: 60px;
}

.main-p{
  font-size: 1vw;
  line-height: 160%;
  margin-top: 2vw;
}

.main-btn{
  margin-top: 2vw;
}

.main-s-btn{
  margin-top: 2vw;
  background-color: rgba(245, 245, 220, 0);
  color: #0069ae;
  border-color: #0069ae;
  border: 3px solid;
  margin-left: 10px;
}

.a-main{
  color: #0099FF;
}

.f-b-img{
  width: 35vw;
  height: 35vw;
}

/*SERVICES*/

.services {
  margin-top: 5vw;
  display: flex;
  padding-top: 4vw ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background: rgba(0, 153, 255, 0.04);
}
.serv-h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
}
.serv-h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 3vw;
  margin-top: 2vw;
}
.serv-p {
  font-weight: 400;
  font-size: 1vw;
  text-align: center;
  margin-top: 2vw;
}
.blocks {
  display: flex;
  margin-top: 5vw;
  margin-bottom: 5vw;
  width: 70vw;
  justify-content: space-around;
}
.provide-blocks {
  box-shadow: 0px 10px 20px rgba(164, 217, 253, 0.15);
  border-radius: 4px; 
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw;

}
.serv-h2 {
  font-weight: 700;
  font-size:1.5vw;
}
.serv-sec-p {
  font-weight: 400;
  font-size: 0.7vw;
  text-align: center;
  margin-top: 2vw;
}

.img-serv{
  width: 7vw;
  height: 7vw;
  margin-bottom: 2vw;
}

/*ABOUT US*/

.about-us-block{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img{
  margin-right: 5vw;
}

.about-h3{
  margin-bottom: 1vw;
}